{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
  <style>
    .btn-blue{
  background-color: #47aeff;
 
}
.btn-blue:hover{
  background-color: #bae1ff;
}
.blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.687);
}
.blog-container{
    display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly; /* or any other value that suits your design */
  align-items: center;
  margin-top: 90px;
  margin-left: 10px;
}
.blog-box{
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #0000009d;
  margin: 10px;
  
}
.blog-img{
    width: 100%;
  height: 100%;
  
}
.blog-img img{
  width:350px;
  height: 200px;
  
}
.blog-text{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-text .blog-title{
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.blog-text p{
  color: black;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
}
.blog-text a{
  color: #355212a5;
}
  </style>
</head>
<body>
 
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><span style="font-family: brush script mt;color:#47aeff;font-size: 30px;">MedicDiary</span></a>
            </div>
        <div class="navbar-right">
            <div class="collapse navbar-collapse" id="mynav">
                <ul class="nav navbar-nav">
                    <li  class="nav-item" ><a class="color-me" class="nav-link-active" href="home">HOME</a></li>
                    <li ><a class="color-me" href="#about" >ABOUT</a></li>
                    <li ><a class="color-me" href="upload">UPLOAD</a></li>
                    <li class="dropdown">
                        <a class="color-me" class="dropdown-toggle" data-toggle="dropdown">ACCOUNT</a>
                        <ul class="dropdown-menu">
                            <li ><a class="color-me" href="signup">SIGNUP</a></li>
                            <li><a class="color-me" href="signin">SIGNIN</a></li>
                            <li><a class="color-me" href="logout">LOGOUT</a></li>
                        </ul>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>

  <div class="blog">
    <div class="blog-container">
        <div class="blog-box">
            <div class="blog-img">
              <img src="{% static 'd1.jpg' %}">
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Mahesh</a>
                <p>Contact: 9840806067</p>
                <p>Email: mahesh@gmail.com</p>
                <p>Specialisation: General Surgery</p>
                <p>Experience: 7 years</p>
                <a style="text-decoration: none;color: aliceblue;"href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img"> 
                <img src="{% static 'd2.jpg' %}">
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Babu</a>
                <p>Contact: 9629796225</p>
                <p>Email: babu@gmail.com</p>
                <p>Specialisation: Neurologists</p>
                <p>Experience: 10 years</p>
                <a style="text-decoration: none;color: aliceblue;" href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="{% static 'd3.jpg' %}">   
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Ramya</a>
                <p>Contact: 8057096225</p>
                <p>Email: ramya@gmail.com</p>
                <p>Specialisation: Immunologists</p>
                <p>Experience: 9 years</p>
                <a style="text-decoration: none;color: aliceblue;" href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
               <img src="{% static 'd4.png' %}"></a> 
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Sakthi</a>
                <p>Contact: 8880085500</p>
                <p>Email: sakthi@gmail.com</p>
                <p>Specialisation: Cardiologists</p>
                <p>Experience: 25 years</p>
                <a style="text-decoration: none;color: aliceblue;" href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="{% static 'd5.avif' %}"></a>
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Riaa </a>
                <p>Contact: 9790161906</p>
                <p>Email: riaas@gmail.com</p>
                <p>Specialisation: Family Physicians</p>
                <p>Experience: 8 years</p>
                <a style="text-decoration: none;color: aliceblue;"  href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="{% static 'd6.jpg' %}"></a>
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Sahana</a>
                <p>Contact: 98408232453</p>
                <p>Email: sahana@gmail.com</p>
                <p>Specialisation: Pediatricians</p>
                <p>Experience: 6 years</p>
                <a style="text-decoration: none;color: aliceblue;" href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="{% static 'd7.jpeg' %}"></a>
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Sindhu</a>
                <p>Contact: 7163432453</p>
                <p>Email: sindhu@gmail.com</p>
                <p>Specialisation: Ophthalmologists</p>
                <p>Experience: 15 years</p>
                <a style="text-decoration: none;color: aliceblue;" href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="{% static 'd8.jpg' %}"></a>
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Suresh</a>
                <p>Contact: 6381567817</p>
                <p>Email: sureshv@gmail.com</p>
                <p>Specialisation: Gastroenterologists</p>
                <p>Experience: 9 years</p>
                <a style="text-decoration: none;color: aliceblue;" href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                    </button>
                </a>
            </div>
        </div>

        <div class="blog-box">
            <div class="blog-img">
                <img src="{% static 'd9.jpg' %}" width="5000px" height="5000px"></a>
            </div>
            <div class="blog-text">
                <a href="#" class="blog-title">Rajeshwari</a>
                <p>Contact: 9345316507</p>
                <p>Email: raji@gmail.com</p>
                <p>Specialisation: Oncologists</p>
                <p>Experience: 11 years</p>
                <a style="text-decoration: none;color: aliceblue;" href='appointment'>
                    <button class=" btn btn-blue btn-sm">
                        BOOK APPOINTMENT
                   </button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>